# Archivos y folders de Eclipse
.metadata/
.settings/
bin/
*.class

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de compilación y logs
*.log

# Archivos del sistema operativo
*.swp
*.swo

# Otros
*.iml
.idea/
